@using Microsoft.AspNetCore.Identity
@using Challenges.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RankingService rankingService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Challenges</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Challenges.styles.css" asp-append-version="true" />
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarColor02" style="">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Provocari/IndexAdmin">Provocari</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ProvocariUtilizatori/Index">Provocarile Utilizatorilor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Utilizatori/Index">Utilizatori</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Realizari/Index">Badge-uri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/RealizariUtilizatori/Index">Badge-urile Utilizatorilor</a>
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link" href="/Categorii/Index">Categorii</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav
                    <div class="main-container">
            <div class="oth-div">
                <div class="row flex-nowrap">
                    <div class="col-2 col-md-3 col-xl-2 px-sm-2 px-0" data-bs-theme="dark">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" id="navbarColor02">
                            <a class="navbar-brand" asp-area="" asp-page="/DashboardAdmin">
                                <img src="~/images/logo.png" alt="Challenges Logo" style="max-width: 150px; height: auto;" />
                            </a>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/DashboardAdmin">
                                        Dashboard
                                        <span class="visually-hidden">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Provocari/Index">Provocari</a>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                            <hr>
                            <br />
                        </div>
                    </div>
                    <div class="col-10 col-md-9 col-xl-10">
                        <div>
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
        }
        else
        {
            <div class="main-container">
                <div class="oth-div">
                    <div class="row flex-nowrap">
                        <div class="col-2 col-md-3 col-xl-2 px-sm-2 px-0" data-bs-theme="dark">
                            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" id="navbarColor02">
                                <a class="navbar-brand" asp-area="" asp-page="/dashboard">
                                    <img src="~/images/logo.png" alt="Challenges Logo" style="max-width: 150px; height: auto;" />
                                </a>
                                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/dashboard">
                                            Dashboard
                                            <span class="visually-hidden">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/ProvocariUtilizatori/Details">Provocarile Mele</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Provocari/Index">Provocari</a>
                                    </li>
                                </ul>
                                <partial name="_LoginPartial" />
                                <hr>
                                <br />
                            </div>
                        </div>
                        <div class="col-7 col-md-6 col-xl-7">
                            <div>
                                <main role="main" class="pb-3">
                                    @RenderBody()
                                </main>
                            </div>
                        </div>
                        @if (!User.IsInRole("Admin"))
                        {
                            <div class="col-3 col-md-3 col-xl-3 px-sm-2 px-0" data-bs-theme="dark">
                                <div class="d-flex pdd flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                                    <h4 class="txt4">Recomandari</h4>
                                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                                        @{
                                            var rankedChallenges = rankingService.GetRankedChallenges(User.Identity.Name);
                                        }
                                        @foreach (var challenge in rankedChallenges)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link ch-right" asp-area="" asp-page="/Provocari/Details" asp-route-id="@challenge.Id">

                                                    <div class="card">
                                                        <img class="card-img-top challenge-image" src="@challenge.UrlImagine" width="50" height="50">
                                                        <div class="card-body">
                                                            <h5 class="card-title wrr">@challenge.Nume</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
        }
    }
    else
    {
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarColor02" style="">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Provocari/Index">Provocari</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <hr>
                </div>
            </div>
        </nav>
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    <div>
        <footer class="border-top footer text-muted">
            <div class="container1">
                &copy; 2024 - Challenges - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>