@page
@model Challenges.WebApp.Pages.SarciniRealizate.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="other_pages">

<h1>Details</h1>

<div>
    <h4>SarcinaRealizata</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SarcinaRealizata.ProvocareUtilizator.Provocare.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SarcinaRealizata.ProvocareUtilizator.Provocare.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SarcinaRealizata.Sarcina.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SarcinaRealizata.Sarcina.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SarcinaRealizata.Data_Realizare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SarcinaRealizata.Data_Realizare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SarcinaRealizata.ZiuaRealizare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SarcinaRealizata.ZiuaRealizare)
        </dd>
    </dl>
</div>
</div>
