@page
@model RegisterModel
@inject Challenges.WebApp.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="/Register.cshtml.css" asp-append-version="true" />
</head>
@*         <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCategories">Categories</label>
                <select asp-for="SelectedCategories" asp-items="@(new SelectList(_context.Categorie, "Id", "Nume"))" multiple class="form-control"></select>
                <span asp-validation-for="SelectedCategories" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form> *@
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class=" row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="mgr col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <br/>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input asp-for="Input.Email" type="email" id="form3Example3" autocomplete="username" aria-required="true" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <label asp-for="Input.Email" class="form-label" for="form3Example3">Email address</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input asp-for="Input.Password" type="password" id="form3Example4" autocomplete="new-password" aria-required="true"
                               class="form-control form-control-lg" placeholder="Enter password" />
                        <label asp-for="Input.Password" class="form-label" for="form3Example4">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-3">
                        <input asp-for="Input.ConfirmPassword" type="password" id="form3Example4" autocomplete="new-password" aria-required="true"
                               class="form-control form-control-lg" placeholder="Enter password" />
                        <label asp-for="Input.ConfirmPassword" class="form-label" for="form3Example4">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="SelectedCategories" class="form-label" for="form3Example3">Category Preference: </label>
                        <select asp-for="SelectedCategories" asp-items="@(new SelectList(_context.Category, "Id", "Name"))" multiple class="form-control"></select>
                        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button id="registerSubmit" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Already have an account? <a asp-page="./Login" class="link-danger">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@*     <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
