@page
@model Challenges.WebApp.Pages.dashboardModel
@{
}
<head>
    <link rel="stylesheet" href="/dashboard.cshtml.css" asp-append-version="true" />
</head>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Dashboard</h2> 
            <h3 class="points">Points: @Model.Points</h3>
        </div>
    </div>
    <div class="card--container">
        <div class="card--wrapper">
            <div class="stat-box st">
                <br />
                <img src="~/images/ch1.png" class="chimg" width="40px" height="40px" />
                <p>Finished Challenges</p>

                <p class="number">@Model.FinishedChallengesCount</p>
            </div>

            <div class="stat-box st">
                <div class="badges">
                    @for (int i = 0; i < Math.Min(3, Model.Badges.Count); i++)
                    {
                        var badge = Model.Badges[i];
                        <div class="badge @(Model.UserHasBadge(badge.Id) ? "active" : "")">
                            <img src="/images/@(badge.Name).png" />
                        </div>
                    }

                </div>
                <p>Badges</p>
                <div class="badge-header">
                    <a href="/badges">Show more..</a>
                </div>
            </div>

            <div class="stat-box st">
                <br />
                <img src="~/images/streak1.png" class="chimg" width="40px" height="40px" />
                <p>Streak</p>

                <p class="number">@Model.Streak</p>
            </div>
        </div>
    </div>
    <div class="card--container">
        <h3 class="main--title">Current Tasks</h3>
        <div class="card--wrapper">
            @if (Model.CurrentTasks.Count == 0 )
            {
                <div class="task-box">
                    <p>Nu exista sarcini pe ziua de azi</p>
                    <a asp-page="/Provocari/Index" class="btn btn-primary">Start a Challenge</a>
                </div>
            }
            else
            {
                @foreach (var todoTask in Model.CurrentTasks)
                {
                    <div class="task-box current-task">
                        <div class="task-dsp">
                            <img src="~/images/task4.webp" class="chimg" width="50px" height="50px" />
                            <p class="number">@todoTask.Name</p>
                        </div>
                        <p>@todoTask.Description</p>
                    </div>
                }
                <div class="container6">
                    <div class="ctaa">
                        <img src="https://images.pexels.com/photos/705425/pexels-photo-705425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                        <div class="text">
                            <h2>Quote of the Day</h2>
                            <p>"How we use the words can either open our hearts or build walls between us." - Marshall B. Rosenberg</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    </div>
