@page
@model Challenges.WebApp.Pages.Provocari.DetailsAdminModel

@{
    ViewData["Title"] = "DetailsAdmin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>DetailsAdmin</h1>

<div>
    <h4>Provocare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenge.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Challenge.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenge.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Challenge.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenge.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Challenge.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenge.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Challenge.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenge.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Challenge.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenge.Views)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Challenge.Views)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Challenge?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
