@page
@model Challenges.Pages.Provocari.TasksModel
@{
}

<div class="container">
    <div class="dropdown-stl">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
           role="button" aria-haspopup="true" aria-expanded="false">Vezi Toate</a>

        <div class="dropdown-menu dcal">
            @for (var i = 1; i <= Model.Count; i++)
            {
                <a asp-page="./Tasks" asp-route-id="@Model.Provocare.Id"
                   asp-route-currentpage="@i"
                   class="dropdown-item cal">@i</a>
            }
        </div>
    </div>
    <div class="navigation-bar">
        <a asp-page="./Tasks" asp-route-id="@Model.Provocare.Id"
           asp-route-currentpage="@(Model.CurrentPage-1)">
            <i class="arrow left"></i>
        </a>

        @if (Model.ShowPrevious)
        {
            <div class="day-box">
                <a asp-page="./Tasks" asp-route-id="@Model.Provocare.Id"
                   asp-route-currentpage="@(Model.CurrentPage-1)">
                    Ziua @(Model.CurrentPage - 1)
                </a>
            </div>
        }
        <div class="day-divider"></div>
        <div class="active day-box">
            <a asp-page="./Tasks" asp-route-id="@Model.Provocare.Id"
               asp-route-currentpage="@(Model.CurrentPage)">
                Ziua @(Model.CurrentPage)
            </a>
        </div>
        <div class="day-divider"></div>
        @if (Model.ShowNext)
        {
            <div class="day-box">
                <a asp-page="./Tasks" asp-route-id="@Model.Provocare.Id"
                   asp-route-currentpage="@(Model.CurrentPage+1)">
                    Ziua @(Model.CurrentPage + 1)
                </a>
            </div>
        }
        <a asp-page="./Tasks" asp-route-id="@Model.Provocare.Id"
           asp-route-currentpage="@(Model.CurrentPage+1)">
            <i class="arrow right"></i>
        </a>
    </div>
</div>

<div class="container4 mt-5 other_pages">
    @foreach (var item in @Model.Sarcini)
    {
        <h2>@item.Nume</h2>
        <h3>Ziua: @item.Ziua</h3>
        <br />
            @if (Model.IsTaskCompleted(item.Id))
            {
                var sentences2 = item.Descriere.Split('.');
                for (var i = 0; i < sentences2.Length; i += 2)
                {
                    var line = sentences2[i].Trim();
                    if (i + 1 < sentences2.Length)
                    {
                        line += ". " + sentences2[i + 1].Trim();
                    }
                    <p>@line</p>
                }
            }
            else
            {
                <p>Information about this task will be available on the day of the task.</p>
            }
        <form method="post">
            @if (@Model.ShowNext)
            {
                <button type="submit" class="btn btn-primary"
                        asp-page-handler="MarkTaskAsCompleted"
                        asp-route-idTask="@item.Id"
                        asp-route-idProv="@Model.Provocare.Id">
                    Task finalizat
                </button>
            }
            else
            {
                <button type="submit" class="btn btn-primary"
                        asp-page-handler="MarkChallengeAsCompleted"
                        asp-route-id="@Model.Provocare.Id">
                    Provocare finalizată
                </button>
            }
        </form>
    }
</div>
