@page
@model Challenges.WebApp.Pages.AppChallenges.IndexAdminModel

@{
    ViewData["Title"] = "IndexAdmin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>IndexAdmin</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Challenges[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenges[0].Description)
            </th>
            <th>
                Categories
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenges[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenges[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challenges[0].Views)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Challenges)
        {
            var description = item.Description.Length > 50 ? item.Description.Substring(0, 50) + "..." : item.Description;
            var imageUrl = item.ImageUrl.Length > 40 ? item.ImageUrl.Substring(0, 40) + "..." : item.ImageUrl;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @description
                </td>
                <td>
                    <ul>
                        @foreach (var category in item.ChallengeCategories)
                        {
                            <li>@category.Category.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    @imageUrl
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    <a asp-page="/Sarcini/Index" asp-route-id="@item.Id">See All Tasks</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./DetailsAdmin" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
