@page
@model Challenges.WebApp.Pages.ProvocariUtilizatori.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="/Details.cshtml.css" asp-append-version="true" />
</head>

<div class="cont">
	<div class="header--wrapper">
		<div class="header--title">
			<h2>Provocarile Mele</h2>
		</div>
	</div>
	<div class="card--container">
	@foreach (var item in Model.ProvocareUtilizator)
	{
					<div class="card-list">
						<article class="card">
							<figure class="card-image">
								<img src="@item.Provocare.UrlImagine" width="200" height="200" />
							</figure>
							<div class="card-header2">
										<a asp-page="/Provocari/Tasks" asp-route-id="@item.Provocare.Id">@item.Provocare.Nume</a>
								<button class="icon-button">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="Heart">
										<path d="M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95 22 5.216 19.761 3 17 3s-5 3-5 3-2.239-3-5-3z" />
									</svg>
								</button>
							</div>
							<div class="card-footer2">
								<div class="card-meta card-meta--views">
									**
							<p class="card-text">Provocare: @item.Stare</p>
								</div>
								<div class="card-meta card-meta--date">
									**
							<p class="card-text">Ziua curenta: @item.ZiuaCurenta</p>
								</div>
							</div>
						</article>
					</div>
	}
	</div>
</div>
