@page
@model Challenges.WebApp.Pages.UserBadges.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="other_pages">
    <h1>User Badges</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserBadge[0].User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserBadge[0].Badge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserBadge[0].Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserBadge)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Badge.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

