@page
@model Challenges.Pages.SarciniRealizate.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="other_pages">

<h1>Sarcini Realizate</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Provocare
            </th>
            <th>
                Utilizator
            </th>
            <th>
                Sarcina
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SarcinaRealizata[0].Data_Realizare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SarcinaRealizata[0].ZiuaRealizare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SarcinaRealizata) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProvocareUtilizator.Provocare.Nume)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.ProvocareUtilizator.Utilizator.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Sarcina.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Realizare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZiuaRealizare)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
